.logo{
    height: 100px;
    color: brown;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 20px;
    border: 1px solid black;
}

.headerlist{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    list-style: none;
}

.headerlist li{
    font-size: x-large;
    font-style: italic;
    font-weight: 200;
}

.logobox{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.card img{
    width: 190px;
    padding: 5px;
   
}

.card{
    width: 200px;
   
    
   background-color: #f0f0f0;
    
}

.card:hover{
border: 1px solid black;
cursor: pointer;
}

.search{
 padding: 10px;
    
}


.htag{
    font-weight: 400;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.cardcomp{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.font{
    color: yellowgreen;
    font-size: larger;
    font-weight: 300;
    font-style: normal;
}


.footer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.footertop{
    border: 1px solid black;
    margin-top: 5px;
    height: 100px;
    
    
    
}